<div class="container col-lg-12">
  <div class="">
  <h1>
    register
  </h1>
  <form name="form" (ngSubmit)="registerUser()"  #f="ngForm"  novalidate>

      <div class="form-group">
        <label >Last Name</label>
        <input type="text" class="form-control" name="firtNameUser" [(ngModel)]="model.firtNameUser" #username="ngModel" required />
      </div>
      <div class="form-group">
        <label >Last Name</label>
        <input type="text" class="form-control" name="lastNameUser" [(ngModel)]="model.lastNameUser" #username="ngModel" required />
      </div>

      <div class="form-group">
        <label >Email</label>
        <input type="text" class="form-control" name="emailUser" [(ngModel)]="model.emailUser" #username="ngModel" required />
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      </div>
      <div class="form-group">
        <button  class="btn btn-primary">Registrar</button>
      </div>


  </form>
  </div>
</div>
